@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Paytone One", sans-serif;
}

.App {
  min-height: 100vh;
  background-size: 100% 100%
}

